# Local Database & Script Credentials
.env
*.json
*.csv
*sandbox*
*test*
purge*.py

# Allow specific files/folders
!/dashboard/
!/docs/
!/docs/*.json
!/requirements.txt

# Background Python Execution Processes
analyzer_afl.py
analyzer_ipl.py
match_controller.py
sync_schedule.py

# Python Environment Discards
__pycache__/
*.pyc
.venv/
env/
vcs.xml
.idea/
.vscode/
